* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(images/br7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    min-height: 100vh;
    font-family: Poppins, sans-serif;
}

/* Header container */
#header
{
    width: 100%;
    background-image: url(images/br2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment:fixed;

}

/* About box */
#about {
    margin-top: 0;
    max-width: 70%;
    background: rgba(0, 0, 0, 0.44);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px); /* Optional glassmorphism effect */

}

/* Heading style */
h2 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

/* Paragraph style */
p {
    margin-top: 30px;
    color: #e0e0e0;
    font-size: 27px;
    line-height: 1.8;
}
.container {
    padding: 10px 10%;
    color: white;
   -webkit-text-stroke: .5px black; 

}



ul {
    list-style: none;
    padding: 0;
    text-align: right;
    display: block; 
}

ul li {
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  
}

a {
    color: #BA9B37; /* Example: gold text */
    font-weight: bold;
    text-decoration: none;
}
ul li:hover {
    color: #FFC901;
    text-decoration: underline;
}
